<%= form_for(@quiz, :url => survey_scope(@quiz), html: {class: 'ui form'}) do |f| %>

  <% if f.object.errors.messages.any? %>
    <ul>
      <% f.object.errors.messages.each_pair do |field, msg| %>
        <li>
          <%= "#{field} - #{msg}" %>
        </li>
      <% end -%>
    </ul>
  <% end -%>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :attempts_number %>
    <%= f.text_field :attempts_number %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.select :active, ["true", "false"] %>
  </div>
  <div class="field">
    <%= f.label 'Testable' %>
    <%= f.grouped_collection_select(:global_testable, [ Article, Course ], :all, :model_name, :to_global_id, :title, {include_blank: true}) %>
  </div>
  <div class="three fields">
    <div class="field">
      <%= f.label :category %>
      <%= f.grouped_collection_select(:category_id, @categories, :subcategories, :name, :id, :name, {include_blank: true}) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "100x5" %>
  </div>

  <br/ >

  <div class="field">
    <ul>
      <%= f.fields_for :questions do |builder| %>
          <%= render "question_fields", :f => builder %>
      <% end %>
    </ul>
    <br/ >
    <%= link_to_add_field "Add a new Question", f, :questions %>
  </div>

  <br/ >

  <div class="field">
    <%= f.submit %>
  </div>
<% end -%>

<script type="text/javascript">
  // remove attachment field
  function removeField(link) {
    $(link).prev("input[type=hidden]").val("true");
    tag = $(link).closest("li")
    tag.hide("fade in").addClass("deleted");
  }

  // add attachment field
  function addField(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    var html = $(content.replace(regexp, new_id)).hide();
    html.appendTo($(link).closest("div.field").find("ul").first()).slideDown("slow");
  }
</script>
